@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

/* Global CSS */

body {
  font-family: 'Lato', sans-serif !important;
  font-size: 1rem;
  line-height: 2;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  background-image: url(../images/bg.jpg);
  background-position: center center;
  background-size: cover;
  height: 70vh;
  position: relative;
}

.hero::after {
  content: '';
  background-color: rgba(0,0,0, .7);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.hero h1, p {
  position: relative;
  color: aliceblue;
  z-index: 10;
}